<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.campus.activity.mapper.sys.SysOperationLogMapper">

    <select id="selectOperationLogPage" resultType="com.campus.activity.entity.sys.SysOperationLog">
        SELECT * FROM sys_operation_log
        <where>
            <if test="query.userName != null and query.userName != ''">
                AND user_name LIKE CONCAT('%', #{query.userName}, '%')
            </if>
            <if test="query.module != null and query.module != ''">
                AND module LIKE CONCAT('%', #{query.module}, '%')
            </if>
            <if test="query.operation != null and query.operation != ''">
                AND operation = #{query.operation}
            </if>
            <if test="query.status != null">
                AND status = #{query.status}
            </if>
            <if test="query.startTime != null">
                AND operation_time &gt;= #{query.startTime}
            </if>
            <if test="query.endTime != null">
                AND operation_time &lt;= #{query.endTime}
            </if>
        </where>
        ORDER BY operation_time DESC
    </select>

    <select id="selectOperationLogExport" resultType="com.campus.activity.entity.sys.SysOperationLog">
        SELECT * FROM sys_operation_log
        <where>
            <if test="query.userName != null and query.userName != ''">
                AND user_name LIKE CONCAT('%', #{query.userName}, '%')
            </if>
            <if test="query.module != null and query.module != ''">
                AND module LIKE CONCAT('%', #{query.module}, '%')
            </if>
            <if test="query.operation != null and query.operation != ''">
                AND operation = #{query.operation}
            </if>
            <if test="query.status != null">
                AND status = #{query.status}
            </if>
            <if test="query.startTime != null">
                AND operation_time &gt;= #{query.startTime}
            </if>
            <if test="query.endTime != null">
                AND operation_time &lt;= #{query.endTime}
            </if>
        </where>
        ORDER BY operation_time DESC
    </select>

</mapper>